<ion-view view-title="Info">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" style="text-align: center; font-size: 15px;">
          Controlling a tetris <a target="_blank" href="https://github.com/Aerolab/blockrain.js">(blockrain.js)</a> using <a target="_blank" href="http://socket.io/">Socket.IO</a> and NodeJS
          <div class="name">
            Made by <a target="_blank" href="https://twitter.com/TucciMatias">@TucciMatias</a>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>